/*-- Reset Code --*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
}
.txt-lt {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.float-rt {
  float: right;
}
.float-lt {
  float: left;
}
.clear {
  clear: both;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.vertical-base {
  vertical-align: baseline;
}
.vertical-top {
  vertical-align: top;
}
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}
nav.vertical ul li {
  display: block;
}
nav.horizontal ul li {
  display: inline-block;
}
img {
  max-width: 100%;
}

body {
  font-family: "Arial";
  color: #383838;
  background-color: #ffffff;
  text-align: center;
}

body a,
body a:hover,
input[type="button"],
input[type="submit"],
input[type="submit"]:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

h1 {
  font-family: "Arial-BoldMT";
  font-size: 36px;
  width: 357px;
  height: 43px;
  color: #383838;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-family: "ArialMT";
  font-size: 22px;
  width: 351.7px;
  height: 55.3px;
  color: #383838;
  line-height: 1.26;
  margin: 0 auto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top: 30px;
}

* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 40px;
}

.col-1 {
  width: 40%;
}
.col-2 {
  width: 60%;
}

form {
  float: left;
  margin-top: 50px;
}

form input {
  width: 158.7px;
  height: 53px;
  border-radius: 5.3px;
  background-color: #f5f8f9;
}

label {
  padding: 20px 20px 30px 0;
  display: inline-block;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.block {
  text-align: right;
}
.container {
  height: 600px;
  margin: 0 auto;
  border-radius: 42.5px;
  padding: 30px;
}

.left {
  background-color: #ffd500;
  height: 892px;
}

.right {
  background-color: #ffffff;
}

input[type="text"],
input[type="password"],
input[type="mobile"] {
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 380.9px;
  height: 53px;
  border-radius: 5.3px;
  background-color: rgba(245, 248, 249, 0.3);
  border: solid 1.2px #cad7dd;
}

.date {
  background: url(../images/date-icon.png) no-repeat 95.5% 45% #fff;
  cursor: pointer;
  padding: 8px 0;
}

.button-cancel  {
    width: 158.7px;
    height: 53px;
    border-radius: 5.3px;
    background-color: #f5f8f9; 
    color: 373d40;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border:none;
}

.button-save{
    width: 158.7px;
    height: 53px;
    border-radius: 5.3px;
    background-color: #60e6c5; 
    color: #ffffff;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border:none;
}

.button-container{
    float:right;
}
