body {
  font-family: 'arial', 'helvetica', sans-serif;
  color: #383838;
  text-align: center; }

.container {
  position: relative;
  display: block;
  width: 90%;
  margin: 6.4% auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 55px #b6bdc0;
  -ms-box-shadow: 0 0 55px #b6bdc0;
  -o-box-shadow: 0 0 55px #b6bdc0;
  box-shadow: 0 0 55px #b6bdc0;
  overflow: hidden; }

h1 {
  font-size: 24px;
  color: #383838;
  font-weight: bold;
  text-align: center;
  margin: 0 auto; }

h2 {
  font-size: 18px;
  color: #383838;
  line-height: 1.26;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-weight: normal; }

.profile_heading {
  margin: 0 auto; }

.profile_description {
  margin: 0 auto;
  width: 70%;
  margin-top: 30px; }

.grid {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

[class^='grid-'] {
  border: 1px solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 1em 0;
  text-align: center; }

.grid_1 {
  width: 8.33333%; }

.grid_2 {
  width: 16.66667%; }

.grid_3 {
  width: 25%; }

.grid_4 {
  width: 33.33333%; }

.grid_5 {
  width: 41.66667%; }

.grid_6 {
  width: 50%; }

.grid_7 {
  width: 58.33333%; }

.grid_8 {
  width: 66.66667%; }

.grid_9 {
  width: 75%; }

.grid_10 {
  width: 83.33333%; }

.grid_11 {
  width: 91.66667%; }

.grid_12 {
  width: 100%; }

@media screen and (max-width: 320px) {
  .small_1 {
    width: 8.33333%; }
  .small_2 {
    width: 16.66667%; }
  .small_3 {
    width: 25%; }
  .small_4 {
    width: 33.33333%; }
  .small_5 {
    width: 41.66667%; }
  .small_6 {
    width: 50%; }
  .small_7 {
    width: 58.33333%; }
  .small_8 {
    width: 66.66667%; }
  .small_9 {
    width: 75%; }
  .small_10 {
    width: 83.33333%; }
  .small_11 {
    width: 91.66667%; }
  .small_12 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .medium_1 {
    width: 8.33333%; }
  .medium_2 {
    width: 16.66667%; }
  .medium_3 {
    width: 25%; }
  .medium_4 {
    width: 33.33333%; }
  .medium_5 {
    width: 41.66667%; }
  .medium_6 {
    width: 50%; }
  .medium_7 {
    width: 58.33333%; }
  .medium_8 {
    width: 66.66667%; }
  .medium_9 {
    width: 75%; }
  .medium_10 {
    width: 83.33333%; }
  .medium_11 {
    width: 91.66667%; }
  .medium_12 {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .large_1 {
    width: 8.33333%; }
  .large_2 {
    width: 16.66667%; }
  .large_3 {
    width: 25%; }
  .large_4 {
    width: 33.33333%; }
  .large_5 {
    width: 41.66667%; }
  .large_6 {
    width: 50%; }
  .large_7 {
    width: 58.33333%; }
  .large_8 {
    width: 66.66667%; }
  .large_9 {
    width: 75%; }
  .large_10 {
    width: 83.33333%; }
  .large_11 {
    width: 91.66667%; }
  .large_12 {
    width: 100%; } }

.form {
  padding: 45px 50px;
  margin: 0 0 14px; }

.form_fieldset_group {
  position: relative;
  display: block;
  margin: 0 0 23px;
  width: 100%; }

.form_label {
  color: #373d40;
  padding: 15px;
  text-align: left; }

.form_input {
  border: none;
  padding: 20px;
  background: #f5f8f9;
  border-radius: 8px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }

.form_input:hover {
  border: 1.2px solid #cad7dd;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

:required {
  border: 1px solid #ffd500; }

.form_left_panel {
  background-color: #ffd500;
  min-height: 786px;
  max-height: 100%; }
  @media (min-width: 1024px) {
    .form_left_panel {
      border-radius: 25px 0 0 25px; } }

.form_left_panel img.profile {
  width: 60%;
  margin: 50px 0;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }

.form_left_panel img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.form_radio_group {
  position: relative;
  display: block;
  margin: 0 0 23px; }

.radio_input {
  position: relative;
  display: inline-block;
  margin-right: 65px;
  top: -20px; }

.radio_hidden {
  visibility: hidden; }

.form_input__radio {
  position: relative;
  display: inline-block;
  margin-right: 65px;
  top: -20px;
  color: #b1bfcd;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.form_input__radio:before {
  content: "";
  display: inline-block;
  position: relative;
  margin-right: 0;
  width: 50px;
  height: 50px;
  top: 20px;
  background-color: #f5f8f9;
  border-radius: 50%;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.form_input__radio:hover::before {
  border: 2px solid #cad7dd;
  border-radius: 50%;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.form_input__radio.male:before {
  background-image: url(../images/male.png);
  background-position: center center;
  background-repeat: no-repeat; }

.form_input__radio.female:before {
  background-image: url(../images/female.png);
  background-position: center center;
  background-repeat: no-repeat; }

.form_input__radio.membership {
  margin-right: 21px; }

.form_input__radio.membership:before {
  background-image: url(../images/card-dark.svg);
  background-position: center center;
  background-repeat: no-repeat; }

.form_input__radio.membership input:checked {
  background-image: url(../images/card-light.svg);
  background-color: #373d40; }

.form_input__radio.membership:hover::before {
  background-image: url(../images/card-dark.svg); }

@media screen and (max-width: 1024px) {
  .form_input__radio.membership {
    margin-right: 21px; } }

@media screen and (max-width: 768px) {
  .form_input__radio.membership {
    margin-right: 10px; } }

@media screen and (max-width: 240px) {
  .form_input__radio.membership {
    margin-right: 10px; } }

@media screen and (max-width: 1024px) {
  .form_input__radio.gendar {
    margin-right: 21px; } }

@media screen and (max-width: 768px) {
  .form_input__radio.gendar {
    margin-right: 10px; } }

@media screen and (max-width: 240px) {
  .form_input__radio.gendar {
    margin-right: 10px; } }

.radio_buttons {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.2px solid transparent;
  background-color: #f5f8f9;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in; }

.form_input_date {
  position: relative; }

.form_input_date:before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  right: 15px;
  top: 16px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2; }

.hide {
  height: 0; }

.slide_panel {
  background-color: #ff9200;
  display: block;
  min-height: 786px;
  max-height: 100%;
  top: 0;
  width: 100%;
  padding: 120px 85px;
  text-align: left; }

.slide_panel h3 {
  line-height: 1.53;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold; }

.slide_panel p {
  line-height: 1.53;
  font-size: 16px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: none; }

.button_container {
  float: right;
  margin-top: 30px;
  width: 80%; }

.button {
  display: inline-block;
  min-width: 150px;
  margin: 10px 5px;
  padding: 16px 32px;
  border: none;
  font-size: 14.8px;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;
  cursor: pointer; }

.button_blue {
  background-color: #49c8a8;
  color: #ffffff; }

.button_grey {
  background-color: #cad7dd;
  color: #383838; }

.button_arrow {
  border: none;
  background-color: transparent;
  position: relative;
  display: block;
  margin: 74px auto 6px auto; }

.button_arrow img {
  margin: 1px auto 61px auto; }

.button_rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.user_button {
  position: relative;
  width: 62px;
  height: 62px;
  background: #383838;
  overflow: hidden;
  margin: 50px auto 116px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  border-radius: 50%;
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.user_button img {
  margin-left: -1px;
  margin-top: -2px; }

.user_button img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

.user_button.open img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms; }

@media screen and (max-width: 768px) {
  .user_button img, .user_button img:hover {
    -webkit-transform: rotateZ(90deg) scale(1);
    transform: rotateZ(90deg) scale(1);
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms; }
  .user_button.open img {
    -webkit-transform: rotateZ(-90deg) scale(1);
    transform: rotateZ(-90deg) scale(1);
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms; } }

@media screen and (max-width: 240px) {
  .user_button img, .user_button img:hover {
    -webkit-transform: rotateZ(90deg) scale(1);
    transform: rotateZ(90deg) scale(1);
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms; }
  .user_button.open img {
    -webkit-transform: rotateZ(-90deg) scale(1);
    transform: rotateZ(-90deg) scale(1);
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms; } }
