@import "variables";

@media screen and (max-width: 320px) {
  .small_1 {
    width: 8.33333%;
  }

  .small_2 {
    width: 16.66667%;
  }

  .small_3 {
    width: 25%;
  }

  .small_4 {
    width: 33.33333%;
  }

  .small_5 {
    width: 41.66667%;
  }

  .small_6 {
    width: 50%;
  }

  .small_7 {
    width: 58.33333%;
  }

  .small_8 {
    width: 66.66667%;
  }

  .small_9 {
    width: 75%;
  }

  .small_10 {
    width: 83.33333%;
  }

  .small_11 {
    width: 91.66667%;
  }

  .small_12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .medium_1 {
    width: 8.33333%;
  }

  .medium_2 {
    width: 16.66667%;
  }

  .medium_3 {
    width: 25%;
  }

  .medium_4 {
    width: 33.33333%;
  }

  .medium_5 {
    width: 41.66667%;
  }

  .medium_6 {
    width: 50%;
  }

  .medium_7 {
    width: 58.33333%;
  }

  .medium_8 {
    width: 66.66667%;
  }

  .medium_9 {
    width: 75%;
  }

  .medium_10 {
    width: 83.33333%;
  }

  .medium_11 {
    width: 91.66667%;
  }

  .medium_12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .large_1 {
    width: 8.33333%;
  }

  .large_2 {
    width: 16.66667%;
  }

  .large_3 {
    width: 25%;
  }

  .large_4 {
    width: 33.33333%;
  }

  .large_5 {
    width: 41.66667%;
  }

  .large_6 {
    width: 50%;
  }

  .large_7 {
    width: 58.33333%;
  }

  .large_8 {
    width: 66.66667%;
  }

  .large_9 {
    width: 75%;
  }

  .large_10 {
    width: 83.33333%;
  }

  .large_11 {
    width: 91.66667%;
  }

  .large_12 {
    width: 100%;
  }
}
