p.toggle{
    cursor:pointer; font-size:13px; font-weight:bold;  color:#5b5b5b;
    margin:0px; padding:0px; padding-left:18px;
}

p.add_active{
    cursor:pointer; font-size:13px; font-weight:bold;  color:#5b5b5b;
    margin:0px; padding:0px; padding-left:18px;
}

#slide {
    position:fixed;
    background: #ccc;
    display: block;
    width: 100%;
}
#content {
    display: block;
    
}