//colors
$sunflower-yellow: #ffd500;
$cloudy-blue: #cad7dd;
$tangerine: #ff9200;
$charcoal-grey: #373d40;
$greeny-blue: #49c8a8;
$white: #ffffff;
$tiffany-blue: #60e6c5;
$cloudy-blue-two: #b1bfcd;
$pale-grey: #f5f8f9;
$black: #383838;

//fonts
$font-stack-primary:  Arial, sans-serif;
$font-stack-secondary: Arial-BoldMT;

